version: '3.8'
services:
  db:
    image: mysql:5.7

    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: todolist
    ports:
      - "3306:3306"

  backend:
    build: ./backend

    depends_on:
      - db
    ports:
      - "8081:80"

  frontend:
    build: ./frontend

    depends_on:
      - backend
    ports:
      - "8888:80"
      